name: "test_bert_mv"
random_state: 42
wandb_logging: False

data:
    dataset: "reviews"
    val_size: 0.2
    data_name: "rt-polarity"
    data_dir: "./src/data"

train:
    batch_size: 128
    epochs: 20
    verbose: True

model:
    name: "bert"
    embed_dim: 768
    n_classes: 2
    freeze_layers: True
    n_prototypes: 20
    similaritymeasure: "cosine"


#    name: "bert"
#    embed_dim: 128
#    n_classes: 4

optimizer:
    lr: 0.005
    momentum: 0.9
    weight_decay: 0.0005
    betas: [0.9, 0.999]

loss:
    lambda1: 0.2
    lambda2: 0.2
    lambda3: 0.1
    lambda4: 0.3
    lambda5: 0.001

