name: "test_run_gpt2_1"
random_state: 42

data:
    dataset: "AG_NEWS"
    val_size: 0.2

train:
    batch_size: 1
    epochs: 3
    verbose: True

model:
#    name: "mlp"
#    embed_dim: 128
#    n_classes: 4

    name: "gpt2"
    embed_dim: 128
    n_classes: 4

optimizer:
    lr: 0.001
    momentum: 0.9
    weight_decay: 0.0005
    betas: [0.9, 0.999]
